<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.spring.security.mapper.IMenuMapper">

    <resultMap id="BaseResultMap" type="com.mx.spring.security.model.Menu">
         <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="SMALLINT"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="LONGVARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, type, parent_id, name, icon, path, url, sort
    </sql>

    <select id="findAllByType" resultType="com.mx.spring.security.vo.MenuNavVO">
        select
        id, parent_id pid, name,name value, icon, path, url,sort
        from mx_menu
        <where>
            <if test="type!=null">
                and type = #{type}
            </if>
        </where>
        order by sort
    </select>

    <select id="findAll" resultType="com.mx.spring.security.vo.MenuNavVO">
        SELECT m.id, m.parent_id pid, m.name, m.name value, m.icon, m.path, m.url,m.sort
        FROM mx_menu m
        LEFT JOIN mx_menu_role mr
        ON m.id = mr.menu_id
        LEFT JOIN mx_admin_role ar ON ar.role_id = mr.role_id
        WHERE ar.admin_id = #{adminId}
        AND m.type=0
        ORDER BY m.sort
    </select>


</mapper>