<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.spring.security.mapper.IRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.mx.spring.security.model.RolePermission">
         <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
        <result property="permissonId" column="permisson_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
        <result property="permissionCode" column="permission_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_id, permisson_id, create_time, group_name, permission_name, permission_code
    </sql>

    <insert id="insetAll" parameterType="java.util.List">
        insert into mx_role_permission (
        <include refid="Base_Column_List"/>
        )
        VALUES
        <foreach collection="list" item="rolePermission" separator=",">
            (#{rolePermission.id},#{rolePermission.roleId},#{rolePermission.permissonId},#{rolePermission.createTime},
            #{rolePermission.groupName},#{rolePermission.permissionName},#{rolePermission.permissionCode})
        </foreach>
    </insert>
</mapper>