<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.spring.security.mapper.ISecurityRoleMapper">

    <resultMap id="BaseResultMap" type="com.mx.spring.security.base.model.SecurityRole">
         <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="client" column="client" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="lastModifyUser" column="last_modify_user" jdbcType="VARCHAR"/>
        <result property="lastModifyTime" column="last_modify_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, remark, create_user, create_time, last_modify_user, last_modify_time
    </sql>


</mapper>