<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.spring.security.mapper.ISecurityMenuMapper">

    <resultMap id="BaseResultMap" type="com.mx.spring.security.base.model.SecurityMenu">
         <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="client" column="client" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="SMALLINT"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="LONGVARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,client ,type, parent_id, name, icon, path, url, sort
    </sql>

    <select id="findAllByType" resultType="com.mx.spring.security.base.vo.SecurityMenuNavVO">
        SELECT id ,parent_id pid, name,name value, icon, path, url,sort
        FROM mx_security_menu
        WHERE client = #{client}
        <if test="type!=null">
        AND type = #{type}
        </if>
        ORDER BY sort
    </select>

    <select id="findAll" resultType="com.mx.spring.security.base.vo.SecurityMenuNavVO">
        SELECT sm.id, sm.parent_id pid, sm.name, sm.name value, sm.icon, sm.path, sm.url,sm.sort
        FROM mx_security_menu sm
        LEFT JOIN mx_security_menu_role smr ON sm.id = smr.menu_id
        LEFT JOIN mx_security_user_role sur ON sur.role_id = smr.role_id
        WHERE sur.user_id = #{userId}
        AND sm.type = 0
        AND sm.client = #{client}
        ORDER BY sm.sort
    </select>

</mapper>